@CHARSET "UTF-8";
#section{
	padding-top : 20px;
	min-height : 100%;
	background-color: #f4f4f4;
	padding-bottom: 40px;
}

#section_info{
	width:830px;
	min-height : 100%;
	margin : 0 auto;
}
#drama_image{
	width : 460px;
	height : 320px;
	display: inline-block;
	background-color: white;
	padding:20px;
	overflow: auto;
}

#drama_info_form{
	width: 305px;
	height: 320px;
	float: right;
}
#drama_info{
	width: 305px;
	display: inline-block;
	float: right;
	text-align: center;
	border: 1px white	solid;
}
#title{
	background-color : white;
	border-bottom : 1px solid #ddd;
	text-align: center;
	padding: 20px 0 10px 0;
}
#title>h3{
	display: inline-block;
}
.skin-type{
    border: 1px solid #ddd;
    color: #777;
    border-radius: 1em;
    padding: 2px 3px;
    font-size: 10px;
    vertical-align: text-bottom;
}
#content{
	padding:10px 0;
	font-size: 15px;
}
#price{
	cursor : auto;
	width:100%;
	background-color : white;
	height : 50px;
	font-size: 20px;
	color: red;
	text-align: center;
	border : 0;
/* 	font-weight: 25px;
	border: 1px red soild; */
}
.info_bar{
	width: 830px;
	height: 50px;
	font-size: 20px;
	color:gray;
	border: 1px solid #eee;
	display: inline-block;
	background-color: white;
}
.info_bar  li{
	text-align:center;
	list-style: none;
	line-height: 50px;
	text-decoration: none;
}

.border_color{
	width:50px;
	height:50px;
	margin-left: 82px;
	border-bottom: 4px solid #ed3d84;
}
.info_bar a{
	text-decoration: none;
	color:#888;
}

/* =======
	border: 0;
}
>>>>>>> 578e5a9a30f8c80283cb50a1c6bc512e39c56985 */
#drama_date{
	width: 305px;
	height: 35px;
	margin-top: 20px;
}
.select_date{
	text-align: left;
}
#drama_time{
	width: 305px;
	height: 35px;
	margin-top: 10px;
}
#drama_ticket{
	margin-top:10px;
	width: 305px;
	height: 35px;
	
}
#btn_buy{
	margin-top: 10px;
}
#afterview{
	width: 830px;

	margin : 0 auto;
	margin-top: 65px;
}
#afterview_list{
	width: 830px;
	border: 1px white solid;
	margin : 0 auto;
	background-color: white;
}
.view_page{
	width: 830px;
	margin : 0 auto;
	margin-top: 20px;
	background-color: white;
	padding-bottom: 20px;
	margin-left: 640px;
}
.info_bar{
	width : 100%;
	height: 50px;
	font-size: 20px;
	color:gray;
	border-bottom: 1px gray solid;
	display: inline-block;
	background-color: white;
}
.info_bar  li{
	text-align:center;
	list-style: none;
	line-height: 50px;
	text-decoration: none;
}


#after_top_text{
	font-size: 20px;
	font-weight: bolder;
}
#afterview_box{
	background-color: white;
	margin-top: 5px;
}
#afterview_box_a{
	width: 830px;
	height: 30px;
	margin-left: 30px;
	font-size: 17px;
}
#atfterview_box_b{
	width:830px;
	height: 30px;
	margin-left: 30px;
	font-size:17px;
	border-bottom: 1px solid #f3f3f3;
}
#afterview_total{
	width: 830px;
	height: 60px;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	text-decoration: none;
	list-style: none;
	color:#888;
}
#afterview_total a{
	text-decoration: none;
}
#star_total{
	font-size: 15px;
	text-decoration: none;
}

#info_1{
	width: 205px;
	height: 50px;
	float: left;
	
}
#after{
	width: 205px;
	height:50px;
	float: left;
}
#QNA{
	width: 205px;
	height: 50px;
	float: left;
}

#reprice a{
	text-decoration: none;
	list-style: none;
}

#warning{
	width: 700px;
	height: 135px;
	margin-left: 60px;
	margin-top: -20px;
	padding-top: 20px;
}
#warning_tool{
	width: 650px;
	height: 100px;
	margin-left: 100px;
}
#images_noti{
	margin-left:30px;
	margin-top:15px;
	width:80px;
		float:left; 
}
#warning_text1{
	margin-top: 20px;
}
#point_box{
	width: 700px;
	height: 150px;
	background-color:white;
	margin-left: 65px;
	margin-top: 30px;
}
#point_box1{
	width: 628px;
	height: 29px;
	background-color: white;
	margin-left: 36px;
	margin-top:10px;
	text-align: center;
	font-size: 20px;
}
#point_box2{
	width: 628px;
	height: 29px;

	background-color: white;
	margin-left: 36px;
	margin-top:10px;
	text-align: center;
}
.starRating{
	width:150px;
	display:inline-block;
	height:21px;
	background: transparent url(../images/starpoint/star_rating.png) no-repeat;
	overflow: hidden;
	vertical-align: middle;
}
.starRating span{
	
}
#point_box3{
	width: 628px;
	height: 29px;
	font-size:20px;
	background-color: white;
	margin-left: 36px;
	margin-top: 20px;
	text-align: center;
}
#refund_form{

}
#refund_info{
	width:830px;
	background-color:white;
	margin-left: 640px;
	font-size: 20px;
	font-weight: bolder;
	line-height: 60px;
}
##refund_info p{
	margin-left: 30px;
}
#refund_rull{
	width:830px;
	margin-left:640px;
	background-color: white;
}
#refund_rull p{
	margin-left: 30px;
}
#refund_method{
	width:830px;
	margin-left: 640px;
 	background-color: white;
 	margin-top: -10px;
}
#refund_method p{
	margin-left: 30px;
}
.warning{
	width: 700px;
	height: 95px;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	text-align: center;
	background-color: #ebeff6;
}
.warnning_1{
	font-size: 20px;
	font-weight: 500;
	color: #000;
	padding-top: 25px;
	padding-left: 50px;
}
.warnning_2{
	font_size:15px;
	font-weight: 400;
	color: #000;
	padding-top: 5px;
	padding-left: 50px;
}
.warning>img{
	position : absolute;
	width: 61px;
	top: 25px;
	left: 85px;
}
.info{
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
}
#menu_info{
	width: 208px;
	text-align: center;
	font-size: 20px;
	margin-left: 640px;
}
.menu_li{
	width: 208px;
	text-align: center;
	font-size: 20px;
}
.view_page p{
	margin-left: 30px;
}
#afterview_box_list{
	width: 830px;
	margin-left: 640px;
	background-color: white;
}
#qna_listform{
	width:830px;
	margin-left:632px;
	background-color: white;
}
#qna_text{
	margin-left: 30px;
	
}
#qna_form{
	width:720px;
	height:110px;
	background-color:#fafafa;
	margin-left: 30px;
}
#qna_textbox{
	padding: 13px 10px 0 10px;
	float: left;
}
#paging{
	width: 835px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
#paging span{
	padding-right: 10px;
}
#qna_box{
	 width: 100%;
    border: 1px solid #e6e6e6;
    margin-top: 15px;
    padding-top: 10px;
    background: #fff;
}
#member_qna1{
	margin-left: 30px;
	font-size: 17px;
	color:#313131;
}
#member_qna2{
	margin-left: 30px;
	margin-top:10px;
	font-size: 17px;
	color:#313131;
}
.write_reply{
	padding-left: 10px;
}
#qna_box_master{
	 width: 100%;
    border: 1px solid #e6e6e6;
    padding-top: 10px;
    background: #fafafa;
}
#master_qna1{
	margin-left: 30px;
	font-size: 17px;
	color:#313131;
}
#master_qna2{
	margin-left: 49px;
	font-size: 17px;
	color:#313131;
}
#map_info{
	margin-top:30px;
	font-size: 25px;
	font-weight: bolder;
}
#ticket_top{
	width: 830px;
	height: 40px;
	margin-left: 640px;
	margin-top: 10px;
}
#ticket_top p{
	font-size: 20px;
	font-weight: bolder;
}
#ticket_review{
	width: 830px;
	height: 120px;
	margin-left: 640px;
	margin-bottom: 30px;
	background-color: white;
}