@CHARSET "UTF-8";
#Review_main{
	width: 1230px;
	margin-left: 430px;
	border-left: 1px #404040 solid;
	border-right: 1px #404040 solid;
}
#top_line{
	border-bottom: 1px #404040 solid;
}
#top_text{
	width: 1230px;
	height: 40px;
	border-bottom: 1px solid #d6d6d6;
	font-size: 30px;
	font-weight: bolder;
}
.list_box{
	width: 1000px;
	height: 300px;
	border: 1px red solid;
	margin-left: 100px;
	margin-top: 10px;
}
.image_tool{
	width: 300px;
	height: 200px;
	border: 1px pink solid;
	float: left;
}
.text_form{
	width: 500px;
	height: 100px;
	border: 1px blue solid;
	float: left;
}
.reg_date{
	width: 300px;
	height: 25px;
	border: 1px green;
	text-align: right;
}
.box_left{
	width: 300px;
	height: 300px;
	border: 1px pink solid;
	display: inline-block;
}
.box_right{
	width: 600px;
	height: 300px;
	border: 1px blue solid;
	float: rigth;
	display: inline-block;
}
.main_contents{
	width: 500px;
	height: 180px;
	border: 1px red solid;
	
}