@CHARSET "UTF-8";
#Review_main{
	width: 1230px;
	margin-left: 430px;
	border: 1px red solid;
}
#top_line{
	border-bottom: 1px #404040 solid;
}
#top_text{
	width: 1230px;
	height: 40px;
	border-bottom: 1px solid #d6d6d6;
	font-size: 30px;
	font-weight: bolder;
}
.list_box{
	width: 300px;
	height: 300px;
	border: 1px red solid;
	margin-left: 30px;
	margin-top: 10px;
}
.image_tool{
	width: 300px;
	height: 200px;
	border: 1px pink solid;
}
.text_form{
	width: 300px;
	height: 70px;
	border: 1px blue solid;
}
.reg_date{
	width: 300px;
	height: 25px;
	border: 1px green;
	text-align: right;
}