@CHARSET "UTF-8";
*{
	font-family: 'Nanum Gothic', sans-serif;
}
#section{
	padding-top : 20px;
	min-height : 100%;
	background-color: #f4f4f4;
	padding-bottom: 40px;
	    width: 900px;
    margin: 0 auto;
}

#section_info{
	width:830px;
	min-height : 100%;
	margin : 0 auto;
}
#drama_image{
	width : 460px;
	height : 350px;
	display: inline-block;
	background-color: white;
	padding:20px;
	overflow: auto;
}

#drama_info_form{
	width: 305px;
	height: 400px;
	float: right;
}
#drama_info{
	width: 305px;
	display: inline-block;
	float: right;
	text-align: center;
	border: 1px white	solid;
}
#title{
	background-color : white;
	border-bottom : 1px solid #ddd;
	text-align: center;
	padding: 20px 0 10px 0;
}
#title>h3{
	display: inline-block;
}
.skin-type{
    border: 1px solid #ddd;
    color: #777;
    border-radius: 1em;
    padding: 2px 3px;
    font-size: 10px;
    vertical-align: text-bottom;
}
#content{
	padding:10px 0;
	font-size: 15px;
}
#price{
	cursor : auto;
	width:100%;
	background-color : white;
	height : 50px;
	font-size: 20px;
	color: red;
	text-align: center;
	border : 0;
/* 	font-weight: 25px;
	border: 1px red soild; */
}
.info_bar{
	width: 830px;
	height: 50px;
	font-size: 20px;
	color:gray;
	border: 1px solid #eee;
	display: inline-block;
	background-color: white;
}
.info_bar  li{
	text-align:center;
	list-style: none;
	line-height: 50px;
	text-decoration: none;
}

.border_color{
	width:50px;
	height:50px;
	margin-left: 82px;
	border-bottom: 4px solid #ed3d84;
}
.info_bar a{
	text-decoration: none;
	color:#888;
}


#drama_date{
	width: 305px;
	height: 35px;
	margin-top: 20px;
}
.select_date{
	text-align: left;
}
#drama_time{
	width: 305px;
	height: 35px;
	margin-top: 10px;
}
#drama_ticket{
	margin-top:10px;
	width: 305px;
	height: 35px;
	
}
#btn_buy{
	margin-top: 10px;
	width:306px;
	height:55px;
	border:0;
	background: url(../../images/btn_buy.png);
}
#afterview{
	width: 830px;
	font-family: 'Nanum Gothic', sans-serif;
	margin : 0 auto;
	margin-top: 65px;
}
#afterview_list{
	width: 830px;
	border: 1px white solid;
	margin : 0 auto;
	background-color: white;
	font-family: 'Nanum Gothic', sans-serif;
}
.view_page{
	width: 830px;
	margin : 0 auto;
	margin-top: 20px;
	background-color: white;
	padding-bottom: 20px;
	
}
.info_bar{
	width : 100%;
	height: 50px;
	font-size: 20px;
	color:gray;
	border-bottom: 1px gray solid;
	display: inline-block;
	background-color: white;
}
.info_bar  li{
	text-align:center;
	list-style: none;
	line-height: 50px;
	text-decoration: none;
}


#after_top_text{
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Nanum Gothic', sans-serif;
}
#afterview_box{
	background-color: white;
	margin-top: 5px;
}
#afterview_box_a{
	width: 830px;
	height: 40px;
	margin-left: 30px;
	font-size: 17px;
	margin-top: 10px;
}
#atfterview_box_b{
	width:830px;
	height:70px;
	margin-left: 30px;
	font-size:17px;
	border-bottom: 1px solid #f3f3f3;
	text-overflow: ellipsis;
}
#afterview_total{
	width: 830px;
	height: 60px;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	text-decoration: none;
	list-style: none;
	color:#888;
	font-family: 'Nanum Gothic', sans-serif;
	display: block;
}
#afterview_total a{
	text-decoration: none;
	font-family: 'Nanum Gothic', sans-serif;
}
#star_total{
	font-size: 15px;
	text-decoration: none;
}

#info_1{
	width: 205px;
	height: 50px;
	float: left;
	
}
#after{
	width: 205px;
	height:50px;
	float: left;
}
#QNA{
	width: 205px;
	height: 50px;
	float: left;
}

#reprice a{
	text-decoration: none;
	list-style: none;
}

#warning{
	width: 700px;
	height: 135px;
	margin-left: 60px;
    margin-top: -20px;
    padding-top: 20px;
}
#warning_tool{
	width: 465px;
	height: 100px;
	margin-left: 100px;
	 margin: 0 auto;


}
#images_noti{
	margin-left:30px;
	margin-top:15px;
	width:80px;
		float:left; 
}
#warning_text1{
	margin-top: 20px;
}
#point_box{
	width: 700px;
	height: 150px;
	background-color:white;
	margin-left: 65px;
	margin-top: 30px;
}
#point_box1{
	width: 628px;
	height: 29px;
	background-color: white;
	margin-left: 36px;
	margin-top:10px;
	text-align: center;
	font-size: 20px;
}
#point_box2{
	width: 628px;
	background-color: white;
	margin-left: 36px;
	margin-top:10px;
	text-align: center;
}
.starRating{
	width: 110px;
    vertical-align: middle;
    text-align: left;
}
.starRating, .starRating span{
	display: inline-block;
    height: 21px;
    background: transparent url(../../images/starpoint/star_rating.png) no-repeat;
    overflow: hidden;
}
.starRating span{
	 font-size: 0;
    line-height: 0;
    vertical-align: top;
    text-indent: -100px;
    background-position: 0 -21px;
}

#point_box3{
	width: 628px;
	height: 29px;
	font-size:20px;
	background-color: white;
	margin-left: 36px;
	margin-top: 20px;
	text-align: center;
}

#refund_info{
	width:830px;
	background-color:white;
	margin:0 auto;
	font-size: 20px;
	font-weight: bolder;
	line-height: 60px;
	padding-left: 25px;
}
#refund_info p{
	margin-left: 30px;
}
#refund_rull{
	width:830px;
	background-color: white;
	margin:0 auto;
	padding-bottom: 10px;
}
#refund_rull p{
	margin-left: 30px;
}
#refund_method{
	width:830px;
 	background-color: white;
 	margin-top: -10px;
 	margin:0 auto;
 	padding-bottom: 20px;
}
#refund_method p{
	margin-left: 30px;
	padding-bottom: 5px;
}
.warning{
	width: 700px;
	height: 95px;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	text-align: center;
	background-color: #ebeff6;
}
.warnning_1{
	font-size: 20px;
	font-weight: 500;
	color: #000;
	padding-top: 25px;
	padding-left: 50px;
}
.warnning_2{
	font_size:15px;
	font-weight: 400;
	color: #000;
	padding-top: 5px;
	padding-left: 50px;
}
.warning>img{
	position : absolute;
	width: 61px;
	top: 25px;
	left: 85px;
}
.info{
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
}
#menu_info{
	width: 206px;
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
}
.menu_li{
	width: 208px;
	text-align: center;
	font-size: 20px;
}
.view_page p{
	margin-left: 30px;
}
#afterview_box_list{
	width: 830px;
	background-color: white;
	margin: 0 auto;
}
#qna_listform{
	width:830px;
	background-color: white;
	margin: 0 auto;
}
#qna_text{
	margin-left: 30px;
	display: block;
}
#qna_form{
	width:720px;
	height:110px;
	background-color:#fafafa;
	margin-left: 30px;
}
#qna_textbox{
	padding: 13px 10px 0 10px;
	float: left;
}
#paging{
	width: 835px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	display: none;
}
#paging span{
	padding-right: 10px;
}
#qna_box{
	 width: 100%;
    border: 1px solid #e6e6e6;
    margin-top: 15px;
    padding-top: 10px;
    background: #fff;
}
#member_qna1{
	border-bottom:1px solid #eee;
	margin-left: 15px;
	font-size: 17px;
	color:#313131;
	margin-top: 10px;
	width: 800px;
}
#member_qna2{
	margin-left: 30px;
	margin-top:10px;
	font-size: 17px;
	color:#313131;
}
#member_qna_reply{
	border-bottom:1px solid #eee;
	margin-left: 30px;
	font-size: 17px;
	color:#313131;
	margin-top: 5px;
}
.write_reply{
	padding-left: 10px;
}
#qna_box_master{
	 width: 100%;
    border: 1px solid #e6e6e6;
    padding-top: 10px;
    background: #fafafa;
} 
#master_qna1{
	margin-left: 30px;
	font-size: 17px;
	color:#313131;
}
#master_qna2{
	margin-left: 49px;
	font-size: 17px;
	color:#313131;
}
#map_info{
	margin-top:30px;
	font-size: 25px;
	font-weight: bolder;
}
#ticket_top{
	width: 830px;
	height: 40px;
	margin: 0 auto;
	margin-top: 10px;
	font-family: 'Nanum Gothic', sans-serif;
}
#ticket_top p{
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Nanum Gothic', sans-serif;
}
#ticket_review{
	width: 830px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: white;
	font-family: 'Nanum Gothic', sans-serif;
}
.review_null{
	padding-left:30px;
	width: 300px;
	height: 100px;
	margin: 0 auto;
	line-height: 120px;
	font-size: 15px;
	font-weight: bolder;
}
#review_image{
	width: 250px;
	height: 200px;
	float: left;
}
#review_text{
	width: 350px;
	height: 120px;
	margin-left: 250px;
	text-overflow: ellipsis;
	
}
#review_title{
	width: 350px;
	height: 50px;
	font-size: 30px;
	font-weight: bolder;
}
#review_contents{
	width: 580px;
	height: 100px;
	font-size: 20px;
	text-overflow: ellipsis;
}
#view_go{
	width: 120px;
	height: 50px;
	float: right;
}
#view_go a{
	font-size: 15px;
	line-height: 90px;
}
#review_conten{
	width: 200px;
	height: 20px;
	border: 1px red solid;
}
#image_contents{
	width:750px;
	margin: 0 auto;
	margin-top: 50px;
}
#dele{
	display: inline-block;
}
#del_image{
	width:13px;
	height:13px;
	background: transparent url(../../images/starpoint/btn_del_reply.png) no-repeat;
	float: left;
}
.btn_div{
   margin-top : 10px;
   text-align: center;
}
#image_contents>img{
	width : 750px;
}
#close{

	display: none;
	
}
#hidden_btn{
	display: none;
}