@CHARSET "UTF-8";
.choice-rating{
	overflow: hidden;
    padding: 3px 0 5px;
	
}
.choice-rating li{
	float:left;
	position: relative;
    margin: 0 10px 0 0;
    list-style: none;
}
.choice-rating li radio{
	position: absolute;
    left: 0;
    top: 3px;
    z-index: -1;
}
.choice-rating li label{
	display: inline-block;
    min-height: 20px;
    padding: 0 0 0 20px;
   /*  background: url(../images/radio-off.png) no-repeat left 4px; */
}
.choice-rating li label on{
	padding: 0 0 0 20px;
   /*  background: url(../images/radio-on.png) no-repeat left 4px; */
}
.rating{
	display: inline-block;
    width: 200px;
    height: 50px;
/*     background: url(../../images/starpoint/star_rating.png) no-repeat left top;  */
    vertical-align: middle;
    text-indent: -9999px;
}
.rating span{
	display: block;
     background: url(../../images/starpoint/star_5.png) no-repeat left top;
}
#star_form{
	width: 1625px;
	height: 50px;
	
}
#write{
	width: 100px;
	height: 50px;
	float:right;
	margin-right: 210px; 
}
#cancel{
	width: 100px;
	height: 50px;
	float: right;
	
}
#cancel a{
	text-decoration: none;
	list-style: none;
}
#select_drama{
	    margin-right: 50px;
	    margin-left: -150px;
	
}
.option_height{
	height: 30px;
}
.radio{
	padding: 3px;
	width: 50px;
	border-radius: 4px;
	border: 1px solid #ddd;
	margin-top: 5px;
}
#title{
	width: 200px;
	padding: 3px;
	border-radius: 4px;
	border: 1px solid #ddd;
}