@CHARSET "UTF-8";
#section{
	padding-top : 20px;
	min-height : 100%;
	background-color: #f4f4f4;
	padding-bottom: 40px;
}

#section_info{
	width:830px;
	min-height : 100%;
	margin : 0 auto;
}
#drama_image{
	width : 460px;
	height : 320px;
	display: inline-block;
	background-color: white;
	padding:20px;
	overflow: auto;
}
img{
	width : 100%;
}
#drama_info_form{
	width: 305px;
	height: 320px;
	float: right;
}
#drama_info{
	width: 305px;
	display: inline-block;
	float: right;
	text-align: center;
	border: 1px white	solid;
}
#title{
	background-color : white;
	border-bottom : 1px solid #ddd;
	text-align: center;
	padding: 20px 0 10px 0;
}
#title>h3{
	display: inline-block;
}
.skin-type{
    border: 1px solid #ddd;
    color: #777;
    border-radius: 1em;
    padding: 2px 3px;
    font-size: 10px;
    vertical-align: text-bottom;
}
#content{
	padding:10px 0;
	font-size: 15px;
}
#price{
	cursor : auto;
	width:100%;
	background-color : white;
	height : 50px;
	font-size: 20px;
	color: red;
	text-align: center;
	border: 0;
}
#drama_date{
	width: 305px;
	height: 35px;
	margin-top: 20px;
}
.select_date{
	text-align: left;
}
#drama_time{
	width: 305px;
	height: 35px;
	margin-top: 10px;
}
#drama_ticket{
	margin-top:10px;
	width: 305px;
	height: 35px;
	
}
#btn_buy{
	margin-top: 10px;
	width:306px;
	height:55px;
	border:0;
	background: url(../../images/btn_buy.png);
}
#afterview{
	width: 810px;
	height: 214px;
	border: 1px red solid;
	margin : 0 auto;
	margin-top: 30px;
}
.view_page{
	width: 820px;
	margin : 0 auto;
	margin-top: 20px;
	background-color: white;
	padding-bottom: 20px;
}
.info_bar{
	width : 100%;
	height: 50px;
	font-size: 20px;
	color:gray;
	border-bottom: 1px gray solid;
	display: inline-block;
	background-color: white;
}
.info_bar  li{
	text-align:center;
	list-style: none;
	line-height: 50px;
	text-decoration: none;
}


#after_top_text{
	font-size: 20px;
	font-weight: bolder;
}
#star_total{
	font-size: 15px;
	text-decoration: none;
}
#info_1{
	width: 205px;
	height: 50px;
	float: left;
	text-decoration: none;
}
#after{
	width: 205px;
	height:50px;
	float: left;
}
#QNA{
	width: 205px;
	height: 50px;
	float: left;
}
.warning{
	width: 700px;
	height: 95px;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	text-align: center;
	background-color: #ebeff6;
}
.warnning_1{
	font-size: 20px;
	font-weight: 500;
	color: #000;
	padding-top: 25px;
	padding-left: 50px;
}
.warnning_2{
	font_size:15px;
	font-weight: 400;
	color: #000;
	padding-top: 5px;
	padding-left: 50px;
}
.warning>img{
	position : absolute;
	width: 61px;
	top: 25px;
	left: 85px;
}
.info{
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
}