@CHARSET "UTF-8";
#Review_main{
	width: 1100px;
    margin: 0 auto;
    	/* width: 1230px;
	margin:0 auto;
	border-left: 1px #404040 solid;
	border-right: 1px #404040 solid; */
}
#top_line{
	border-bottom: 1px #404040 solid;
}
#top_text{
	margin: 0 auto;
	width: 1100px;
	/* height: 40px;
	border-bottom: 1px solid #d6d6d6;
	font-size: 20px;
	font-weight: bolder; */
	padding-top: 20px;
}
#text{
	width: 300px;
	float: left;
}
#review_write{
		width: 150px;
		height:30px;
}
#review_write a{
	text-decoration: none;
	
}
.list_box{
	width: 890px;
    /* height: 300px; */
    margin: 0 auto;
    margin-top: 40px;
	
	/* margin-left: 100px;
	margin-top: 10px; */
}
.image_tool{
	width: 300px;
	height: 200px;
	border: 1px #d6d6d6 solid;
	float: left;
}
.text_form{
	width: 500px;
	height: 100px;
	border: 1px #d6d6d6 solid;
	float: left;
}
.reg_date{
	width: 300px;
	height: 25px;
	border: 1px #d6d6d6 solid;
	text-align: right;
}
.box_left{
	    width: 230px;
    height: 200px;
    border: 1px #d6d6d6 solid;
    display: inline-block;
    float: left;
}
.box_right{
	width: 640px;
	height: 250px;
	/* border: 1px #d6d6d6 solid; */
	float: rigth;
	display: inline-block;
}
.review_date{
	float: right;
    margin-top: 15px;
}
.main_contents{
	width: 500px;
	height: 180px;
	border: 1px #d6d6d6 solid;
}
#review_title{
	width: 100%;
	height: 50px;
    font-family: 'Nanum Gothic', sans-serif;
	line-height: 50px;
	font-weight: bolder;
	font-size: 23px;
}
#review_contents{
	width: 100%;
	height: 200px;
	border-top: 1px #d6d6d6 solid;
	border-bottom:1px #d6d6d6 solid;
	font-size: 20px;
	margin-left: 12px;
}
.review_con{
	margin: 0 0 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    margin-left: 10px;
}
#review_contents a{
	text-decoration: none;
	list-style: none;
}
.btnGroup{
	margin-right: -65px;
    margin-top: 113px;
}
.btnGroup ul{
	float: right;
}
.btnGroup li {
	    list-style: none;
    float: left;
}
.btnGroup img{
	width: 31px;
    margin-top: 5px;
    padding: 4px;
}
.review_star{
	height: 43px;
	font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
	line-height: 43px;
	float: right;
}
#paging{
	width: 1100px;
    height: auto;
    margin-left: 10px;
    text-align: center;
}
#search_box_top{
	width: 370px;
	/* height: 40px; */
	float: right;

}
#search_box_bottom{
	width: 370px;
	/* height: 50px; */
	float: right;
	/* margin-left: 800px; */
}
.select{
	height: 30px;
}
.search{
	height: 30px;
	padding-left: 30px;
}
.search_form{
	width:60px;
	height: 30px;
}