@CHARSET "UTF-8";
#Review_main{
	width: 1100px;
    margin: 0 auto;
    	/* width: 1230px;
	margin:0 auto;
	border-left: 1px #404040 solid;
	border-right: 1px #404040 solid; */
}
/* #top_line{
	border-bottom: 1px #404040 solid;
} */
.top_wrap{
	width: 900px;
    height: 50px;
    margin: 0 auto;
}
#top_text{
	margin: 0 auto;
	width: 1100px;
	/* height: 40px;
	border-bottom: 1px solid #d6d6d6;
	font-size: 20px;
	font-weight: bolder; */
	padding-top: 20px;
}
#text{
	width: 300px;
	float: left;
}
#review_write{
		width: 150px;
		height:30px;
}
#review_write a{
	text-decoration: none;
	
}
.list_box{
	width: 890px;
    /* height: 300px; */
    margin: 0 auto;
   /*  margin-top: 40px; */
	
	/* margin-left: 100px;
	margin-top: 10px; */
}
.image_tool{
	width: 300px;
	height: 200px;
	border: 1px #d6d6d6 solid;
	float: left;
}
.text_form{
	width: 500px;
	height: 100px;
	border: 1px #d6d6d6 solid;
	float: left;
}
.reg_date{
	width: 300px;
	height: 25px;
	border: 1px #d6d6d6 solid;
	text-align: right;
}
.box_left{
	    width: 230px;
    height: 200px;
    /* border: 1px #d6d6d6 solid; */
    display: inline-block;
    float: left;
}
.box_right{
	width: 640px;
	height: 200px;
	/* border: 1px #d6d6d6 solid; */
	float: rigth;
	display: inline-block;
}
.review_date{
	float: right;
    margin-top: 15px;
}
.main_contents{
	width: 500px;
	height: 180px;
	border: 1px #d6d6d6 solid;
}
#review_title{
	width: 100%;
	height: 50px;
    font-family: 'Nanum Gothic', sans-serif;
	line-height: 50px;
	font-weight: bolder;
	font-size: 23px;
}
#review_contents{
	width: 100%;
    height: 200px;
    /* border-top: 1px #d6d6d6 solid; */
    border-bottom: 2px #d6d6d6 solid;
    font-size: 20px;
    margin-left: 12px;
    margin-top: -9px;
}
.review_con{
	margin: 0 0 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    margin-left: 10px;
}
#review_contents a{
	text-decoration: none;
	list-style: none;
}
.btnGroup{
	    margin-right: -65px;
    margin-top: 50px;
}
.btnGroup ul{
	float: right;
}
.btnGroup li {
	    list-style: none;
    float: left;
}
.btnGroup img{
	width: 31px;
    margin-top: 5px;
    padding: 4px;
}
.review_star{
	height: 43px;
	font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
	line-height: 43px;
	float: right;
	margin-top: -10px;
    margin-right: -25px;
}
#paging{
	width: 1100px;
    height: auto;
    margin-left: 32px;
    text-align: center;
}
#search_box_top{
	width: 370px;
	/* height: 40px; */
	float: right;

}
#search_box_bottom{
	width: 381px;
	/* height: 50px; */
	float: right;
	/* margin-left: 800px; */
}
.select{
	height: 30px;
}
.search{
	height: 30px;
	padding-left: 30px;
}
.search_form{
	width:60px;
	height: 30px;
}
#updel{
	width: 170px;
	height: 30px;
	margin-left: 500px;
	margin-top: 140px;
}
#writer{
	width: 150px;
	height: 40px;
	float: right;
	font-size: 15px;
	font-weight: bolder;
}

/* 검색 */
.sb-search{ 
  width: 900px;
    height: 50px;
    margin: 0 auto;
    margin-top: -36px;
}
.sb-search form {
	width: 250px;
    height: auto;
    float: right;
}
.form-wrapper input {
   	       width: 170px;
    	height: 30px;
        padding: 10px 5px;
        float: left;    
        font: 14px  'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
           height: 30px;
    width: 80px;
    font: bold 14px/31px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #ffa034;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .form-wrapper button:hover{		
        background: #f3860a;
    }	
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #f3860a;    
    }
    
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #ffa034 transparent;
        top: 7px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #f3860a ;
    }
    
    .form-wrapper button:focus:before{
        border-right-color: #f3860a ;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }


.writeBtn{
	width: 58px;    
    height: 49px;
    background-size: 100%;
    outline: none;
    background-color: unset;
    border: 1px none #aaaa;
    border-radius: 6px;
    float: right;
    margin-top: -46px;
}
   .writeBtn :hover{		
        background: #e8e8db;
    }	
      
    .writeBtn:active,
    .writeBtn:focus{   
        background: #e8e8db;    
    }