@CHARSET "UTF-8";
#Review_main{
	width: 1000px;
	margin:0 auto;
	
}
#rank_main{
	width: 800px;
    margin: 0 auto;
	
}
.rankMain_wrap{
	margin-top: 70px;
}
#top_line{
	border-bottom: 1px #404040 solid;
}
#top_text{
	width: 1230px;
	height: 40px;
	border-bottom: 1px solid #d6d6d6;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 20px;
}
#text{
	width: 300px;
	float: left;
}
#review_write{
		width: 150px;
		height:30px;
}
#review_write a{
	text-decoration: none;
	
}
.list_box{
	width: 800px;
	height: 200px;
	margin-left: 100px;
	margin-top: 10px;
}

.skin-type{
 	 border: 1px solid #ddd;
    color: #777;
    border-radius: 1em;
    padding: 2px 3px;
    font-size: 10px;
    vertical-align: text-bottom;
}
.image_tool{
	width: 300px;
	height: 200px;
	border: 1px #d6d6d6 solid;
	float: left;
}
.text_form{
	width: 500px;
	height: 100px;
	border: 1px #d6d6d6 solid;
	float: left;
}
.reg_date{
	width: 300px;
	height: 25px;
	border: 1px #d6d6d6 solid;
	text-align: right;
}
.box_left{
	width:100px;
	height: 150px;
	/* border: 1px #d6d6d6 solid; */
	display: inline-block;
	float: left;
}
.box_right{
	width: 436px;
	height: 120px;
	/* border: 1px #d6d6d6 solid; */
	float: rigth;
	display: inline-block;
}
.main_contents{
	width: 500px;
	height: 180px;
	border: 1px #d6d6d6 solid;
}
#review_title{
	width: 100%;
	height: 32px;

	    margin-left: 20px;
	font-weight: bolder;
	font-size: 20px;
}
#review_title a{
	
		color:#5C3E37;
}
#review_contents{
	color:	#8F6156;
	width: 100%;
	height: 60px;
	border-top: 1px #d6d6d6 solid;
	border-bottom:1px #d6d6d6 solid;
	    margin-left: 20px;
	font-size: 17px;
}
#review_contents a{
	text-decoration: none;
	list-style: none;
	color:	#8F6156;
}
.review_date_star{
	height: 43px;

	line-height: 43px;
	float: right;
}
#paging{
	width: 835px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
#search_box_top{
	width: 450px;
	height: 40px;
	float: right;

}
#search_box_bottom{
	width: 600px;
	height: 50px;
	margin-left: 800px;
}
.select{
	height: 30px;
}
.search{
	height: 30px;
	padding-left: 30px;
}
.search_form{
	width:60px;
	height: 30px;
}