@CHARSET "UTF-8";
body{
	background-color: #fffff8;
}
#point_box{
	width: 700px;
	height: 100px;
	background-color:white;
	margin-left: 30px;
	margin-top: 30px;
}
li{
	text-decoration: none;
	list-style: none;
	float: left;
	padding-left: 20px;
}
.starRating{
	width: 110px;
    vertical-align: middle;
    text-align: left;
}
.starRating, .starRating span{
	display: inline-block;
    height: 21px;
    background: transparent url(../../images/starpoint/star_rating.png) no-repeat;
    overflow: hidden;
}
.starRating span{
	 font-size: 0;
    line-height: 0;
    vertical-align: top;
    text-indent: -100px;
    background-position: 0 -21px;
}
#afterview_box_a{
	width: 830px;
	height: 26px;
	margin-left: 30px;
	font-size: 17px;
	margin-top: 10px;
}
#atfterview_box_b{
	width:830px;
	height:40px;
	margin-left: 30px;
	font-size:17px;
	border-bottom: 1px solid #f3f3f3;
	text-overflow: ellipsis;
}
#paging{
	margin-left:50px;
}

}