@charset "UTF-8";
.body{
	width : 1200px;
	margin : 0 auto;
	min-height: 100%;
}
.totalbody{
	width : 100%;
	height : 500px;
	margin : 0 auto;
	display: inline-block;
	border: 1px solid #F6F6F6;
	background-color: #FFFFF6;
	margin-bottom: 30px;
}
.title{
	width : 100%;
	background-color: #333333;
	color : #e6e6e6;
}
.title>span{
	display : inline-block;
}
#title{
	width : 170px;
}
#title,#date,#time{
	color: #e6e6e6;
	font-size: 2em;
	
}
#date, #time{
	width: 200px;
    float: right;
    font-size: 13pt;
    margin-top: 31px;
}
#anySeat, span>input{
	color : #CA4D10;
	font-weight: bold;
	width : 35px;
	height: 21px;
	font-size : 17px;
	text-align: right;
}

.seat{
	width : 600px;
	margin: 0 auto;
	margin-top : 20px;
}
.stage{
	height : 30px;
	margin : 0 auto;
	line-height: 25px;
	text-align: center;
	background: url("http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/step2/screen_bg.png");
}
.stage>span{
	font-weight: bolder;
}
.seat_contents{
	margin : 0 auto;
	margin-top : 20px;
	margin-bottom : 20px;
}
.seat_span{
	border: 1px solid;
	display : block;
	font-size : 18px;
	width: 27px;
    height: 28px;
    line-height: 1.5;
	text-align: center;
	color : #fff;
	background-color: #666;
	cursor: pointer;
}
input{
	border : 0px;
	background: none;
}
td>input{
	border-top : 1px solid #d4d3c9;
	width : 25px;
	height: 20px;
	font-weight: bolder;
	font-size: 15px;
}
#btn_div{
	text-align: center;
}
#btn{
background: url(../../images/buy_buy.png),no-repeat;
    width: 200px;
    height: 80px;
    background-position: 12px -529px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
}