@CHARSET "UTF-8";

*{
	margin:0;
	padding:0;
	list-style: none;
	
	
	
}
.contentss{
	width: 100%;
	
}
.contens_point{
	width:1125px;
	margin: 0 auto;
}
.contens_head{
	margin-top: 10px;
	font-size:13px;
	text-align: center;
	height: 44px;
	width:300px;
	line-height: 22px;
	margin-bottom: 30px;
}
.total_point{
	font-size:13px;
	text-align: center;
	height: 44px;
	width:300px;
	line-height: 22px;
	
}

.h2_head {
    font-size: 2.5em;
    font-weight: normal;

}
table{
 border-collapse: collapse;
margin-top: 10px;
width: 1100px;
font-size: 12px;
margin-bottom: 30px;
}
th{
	border-top:1px #000000 solid;
	border-bottom:1px #000000 solid;
	height: 44px;
}
td{
	
	border-bottom:1px #cccccc solid;
	height: 44px;
}
.no_1{
	
	width: 100px;
	text-align: center;
}
.reg_date{
	width: 200px;
	text-align: center;
	
}

.kind{
	width: 200px;
	text-align: center;
	
}
.point_1{
	width: 100px;
	text-align: center;
	
}
.history{
		width:200px;
	text-align: center;
	
}
.row_num{
	
	margin-top: 20px;
	text-align: center;
	
}