@CHARSET "UTF-8";

*{
	margin:0;
	padding:0;
	list-style: none;
	width: 100%;
	
	
}

table{
 border-collapse: collapse;

	
}
th{
	border-top:1px #000000 solid;
	border-bottom:1px #000000 solid;
	 text-align: center;
}
td{
	 text-align: center;
	border-bottom:1px #cccccc solid;
}