@CHARSET "UTF-8";

*{
	margin:0;
	padding:0;
	list-style: none;
	
	
	
}

.title_wrap{
	border-top: 2px solid #5d4137;
    padding-top: 8px;
    }
    
.headerArea{
    height: auto;
   /*  width: 935px; */
    margin: 0 auto;
    } 
.contentss{
	width: 100%;
	
}
.contens_point{
	width:1000px;
	margin: 0 auto;
}
.contens_head{
	margin-top: 10px;
	font-size:13px;
	text-align: center;
	height: 44px;
	width:300px;
	line-height: 22px;
	margin-bottom: 30px;
}
.total_point{
	font-size: 13px;
    width: 863px;
    float: left;
    text-align: right;
}

#checkBtn{
    float: right;
    background: repeat;
    border: none;
       margin-top: -46px;
    margin-right: 45px;
    width: 80px;
}

#checkBtn img{
    width: 100%;
    float: left;
}
.h2_head {
    font-size: 2.5em;
    font-weight: normal;

}

.orderListArea .title + .ec-base-table table {
    margin: 0;
}
.ec-base-table.typeList table {
    border-top-color: #e7e7e7;
    border-left: 0;
    border-right: 0;
}

.ec-base-table table {
    position: relative;
    margin: 10px 0 0;
    border: 1px solid #e7e7e7;
    border-top-color: #fff;
    color: #fff;
    font-size: 11px;
    line-height: 1.5;
}
table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    display: none;
}

.ec-base-table th:first-child {
    border-left: 0;
}
.ec-base-table thead th {
    padding: 12px 0 11px;
    border-bottom: 1px solid #e7e7e7;
    color: #5d4137;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
th, td {
    border: 0;
    vertical-align: top;
}
.ec-base-table .right {
    text-align: right;
}
.ec-base-table.typeList tfoot td {
    padding: 11px 12px 12px;
    background: #fbfbfb;
}
.ec-base-table.typeList td {
    padding: 13px 10px 12px;
}
.ec-base-table td {
    padding: 11px 10px 10px;
    border-top: 1px solid #e7e7e7;
    color: #353535;
    vertical-align: middle;    
    text-align: center;
}
}
.xans-order-form .ec-base-table tfoot td .gLeft {
    float: left;
    margin: 6px 0 0;
}

.no_1{
	
	width: 100px;
	text-align: center;
}
.reg_date{
	width: 200px;
	text-align: center;
	
}

.kind{
	width: 200px;
	text-align: center;
	
}
.point_1{
	width: 100px;
	text-align: center;
	
}
.history{
		width:200px;
	text-align: center;
	
}
.row_num{
	
	margin-top: 20px;
	text-align: center;
	
}