<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dramaMapper"> 
  	<resultMap type="DramaListDTO" id="dramalistDTO"/>
 	<resultMap type="CompanyDTO" id="companyDTO"/>
  	<resultMap type="ReviewDTO" id="reviewDTO"/>
  	<resultMap type="QnaDTO" id="qnaDTO"/>
  	<resultMap type="Qna_viewDTO" id="qna_viewDTO"/>
  	<resultMap type="SeatDTO" id="seatDTO"/>
  	<resultMap type="DramaDTO" id="dramaDTO">
  		<id property="drama_num" column="drama_num"/>
  		<result property="company_num" column="company_num"/>
  		<result property="title" column="title"/>
  		<result property="contents" column="contents"/>
  		<result property="place" column="place"/>
  		<result property="price" column="price"/>
  		<result property="buy_hit" column="buy_hit"/>
  		<result property="file_num" column="file_num"/>
  	</resultMap>
  	<select id="totalCount" resultType="int">
		select nvl(count(drama_num), 0) from drama
		<if test="kind == 'title'">
			where title like #{search}
		</if>
	
		<if test="kind == 'contents'">
			where contents like #{search}
		</if>
  	</select>
  
  	<select id="selectList" parameterType="java.util.Map" resultType="DramaDTO">
  		select * from
  		(select rownum R, N.* from
  		(select * from drama
  		
  		<if test="kind == 'title'">
  		where title like '%'||#{search}||'%'
  		</if> 
  		
  		<if test="kind == 'contents'">
  		where title like '%'||#{search}||'%'
  		</if>
  		order by drama_num desc) N)
  		where R between #{startRow} and #{lastRow}
  	</select>
  		
	<insert id="insert" parameterType="com.theater.drama.DramaDTO">
		insert into drama values(
			drama_num.nextval,#{company_num},
			#{title}, #{contents}, #{place}, #{price}, 0, #{file_num}
		)  	
  	</insert> 
 	<!-- 공연 선택 view page -->
  	<select id="selectOne" parameterType="int" resultMap="dramaDTO">
  		select * from drama where drama_num=#{drama_num}
  	</select>
  	<select id="timeList" parameterType="java.util.HashMap" resultMap="dramalistDTO">
  		select distinct drama_time, drama_num, drama_date from date_list where drama_num=#{drama_num} and drama_date=#{drama_date} order by drama_time asc
  	</select>
  	<select id="dateList" parameterType="int" resultMap="dramalistDTO">
  		select distinct drama_date, drama_num from date_list where drama_num=#{drama_num} order by drama_date asc
  	</select>
  	<select id="searchCompany_num" parameterType="int" resultType="int">
  		select company_num from drama where drama_num=#{drama_num}
  	</select>
 
  	<!-- 리뷰 3개만 보이게 -->
  	<select id="selectList_review" parameterType="com.theater.util.RowNum" resultMap="reviewDTO">
  	<!-- 	select * from
  		(select rownum r, N.* from
  		(select * from review order by review_date desc) N)
  		where r between #{startRow} and #{lastRow}  -->
  		 select * from review where drama_num=#{drama_num}  order by review_date desc
  </select>
 
  <!-- 리뷰갯수 (별점 평균낼때사용) -->
  <select id="totalcount_review" parameterType="com.theater.util.RowNum" resultType="int">
  		select nvl(count(review_num),0) from review
  </select>
 
  <!-- 티켓 리뷰로 쓸껀데 잠시 대기 -->
  <select id="selectOne_review" parameterType="int"  resultMap="reviewDTO">
 <!--  select * from review where drama_num=#{drama_num} order by review_date desc -->
 select * from REVIEW where drama_num=#{drama_num}
  </select>
 
  <!-- 후기(별점) 페이징 처리 -->
  <select id="totalcount" parameterType="int" resultType="int">
	select COUNT(drama_num) from REVIEW where drama_num=#{drama_num}
  </select>
 
  <!-- qna 페이징 처리 -->
  <select id="totalcount_qna" parameterType="com.theater.util.RowNum" resultType="int">
  select nvl(count(qna_num),0) from qna
  </select>
 
  <!-- 후기(별점) 평균점수 -->
  <select id="review_avg" parameterType="int" resultType="int">
  select sum(star)/count(drama_num) from REVIEW where drama_num=#{drama_num}
  </select>
 
  <!-- qna 리스트 -->
  <select id="selectList_qna" parameterType="com.theater.util.RowNum" resultMap="qna_viewDTO">
 		select * from
  		(select rownum r, N.* from
  		(select * from qna_view order by ref desc , step asc) N)
  		where r between #{startRow} and #{lastRow}  
  </select>
 
 <!-- 리뷰 전체보기 --> 
  <select id="review_list" parameterType="com.theater.util.RowNum" resultMap="reviewDTO">
  		select * from
  		(select rownum r, N.* from
  		(select * from review order by review_date desc) N)
  		where r between #{startRow} and #{lastRow}  
  </select>

<!--  qna write -->
	<insert id="qna_insert" parameterType="qna_viewDTO">
	<selectKey keyProperty="qna_viewnum" resultType="int" order="BEFORE">
	select qna_viewnum.nextval from dual
	</selectKey>
	insert into qna_view values(#{qna_viewnum} ,#{drama_num}, #{id} , #{contents} , sysdate , #{qna_viewnum},0,0})
	</insert>

<!-- qnalist 삭제(자신이 올린 문의글 삭제) -->
	<delete id="delete_qnaview" parameterType="int">
	delete qna_view where qna_viewnum=#{qna_viewnum}
  </delete>
  	
  	<!-- 공연리뷰 -->
  	<select id="dramaReviewList" parameterType="com.theater.util.RowNum" resultType="reviewDTO">
  		select * from
  		(select rownum r, N.* from
  		(select * from review
		<if test="kind == 'Title'">
			where title like '%'||#{search}||'%'
		</if>
		<if test="kind == 'id'">
			where writer like '%'||#{search}||'%'
		</if>
		<if test="kind == 'Contents'">
			where contents like '%'||#{search}||'%'
		</if>
		order by review_date desc) N)
  		where r between #{startRow} and #{lastRow}
  	</select>
  	
  	<select id="total_seat" parameterType="int" resultType="int">
  		select (row_num * col_num) from company_info where company_num=#{company_num}
  	</select>
  	<select id="search_dateNum" parameterType="java.util.HashMap" resultType="int">
  		select date_num from date_list where drama_num=#{drama_num} and drama_date=#{drama_date} and drama_time=#{drama_time}
  	</select>
  	<select id="selectSeat" parameterType="java.util.HashMap" resultMap="seatDTO">
  		select * from seat where drama_num=#{drama_num} and date_num=#{date_num}
  	</select>
  	<select id="searchCompanyNum" parameterType="com.theater.member.MemberDTO" resultType="int">
  		select company_num from company_info where id='${id}'
  	</select>
  </mapper><!-- xml과 동일한 이름으로 한다. -->
  