<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="memberMapper">
  
  	<select id="login" resultType="com.theater.member.MemberDTO" parameterType="com.theater.member.MemberDTO">
  		select * from member where id=#{id} and pw=#{pw}
  	</select>
  
  	<insert id="memberJoin" parameterType="com.theater.member.MemberDTO">
  		insert into member values(#{id}, #{pw}, #{name}, #{phone}, #{email}, #{kind})
  	</insert>
  	
  	<insert id="userJoin" parameterType="com.theater.member.UserDTO">
  		insert into user_info values(#{id}, 0, #{birth}, 0)
  	</insert>
  	
  	<insert id="companyJoin" parameterType="com.theater.member.CompanyDTO">
  		insert into company_info values(#{id}, #{company_num}, #{row_num}, #{col_num})
  	</insert>
  	
  	<select id="checkId" resultType="com.theater.member.MemberDTO" parameterType="com.theater.member.MemberDTO">
  		select * from member where id=#{id}
  	</select>
  	
  	<select id="searchId" resultType="com.theater.member.MemberDTO" parameterType="com.theater.member.MemberDTO">
  		select * from member where name=#{name} and email=#{email}
  	</select>
  	
  	<select id="searchPw" resultType="com.theater.member.MemberDTO" parameterType="com.theater.member.MemberDTO">
  		select * from member where id=#{id} and email=#{email}
  	</select> 	
  </mapper>