<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
   <mapper namespace="pointMapper">	

<resultMap type="PointDTO" id="pointDTO">
 
  		<id property="point_num" column="point_num"/>
  		<result property="id" column="id"/>
  		<result property="history" column="history"/>
  		<result property="point" column="point"/>
  		<result property="total_point" column="total_point"/>
  		<result property="kind" column="kind"/>
  		<result property="reg_date" column="reg_date"/>
  	
  	</resultMap>
  

   <select id="selectList" resultType="com.theater.point.PointDTO" parameterType="com.theater.util.RowNum" >
		select * from
  		(select rownum R, P.* from 
  		(select * from point) P)
  		where R between 1 and 10

	
   </select>
   
   <select id="selectOne" resultType="com.theater.point.PointDTO" parameterType="com.theater.point.PointDTO">
   select * from point where point_num=#{point_num}
   
   </select>


  	
  	<select id="totalCount" parameterType="com.theater.util.RowNum" resultType="int">
  		select count(*) from point
  		
  		<!-- select nvl(count(num),0) from notice -->
  	</select>
  	
  <update id="updatePoint" parameterType="com.theater.point.PointDTO">
  update point set point=#{point} where id=#{id}
  
  </update>

<update id="usePoint" parameterType="com.theater.point.PointDTO">
  update point set point=#{point} where id=#{id}
</update>

<insert id="insert" parameterType="com.theater.point.PointDTO">
insert into point values(point_num.nextval,#{id},#{history},#{point},(select nvl(total_point, 0) from point)+#{point},#{kind},sysdate)
</insert>

<insert id="pointcheck" parameterType="java.util.Map">

<!-- insert into point values(point_seq.nextval, #{id},'적립',20,(select nvl(total_point, 0) from point)+#{point},'출석체크',sysdate) -->
insert into point values(point_num.nextval, #{id},#{history},#{point},#{total_point},#{kind},sysdate)
 </insert>

   </mapper>