<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
   <mapper namespace="pointMapper">	
	<resultMap type="PointDTO" id="pointResult">
  		<id property="point_num" column="point_num"/>
  		<result property="id" column="id"/>
  		<result property="history" column="history"/>
  		<result property="point" column="point"/>
  		<result property="total_point" column="total_point"/>
  		<result property="kind" column="kind"/>
  		<result property="reg_date" column="reg_date"/>
  	
  	</resultMap> 
	

	


  	<!-- selectSeat관련 -->
  	<select id="searchPoint_num" resultType="int">
  		select point_num.nextval from dual
  	</select>
  	<select id="totalPointList" parameterType="String" resultType="com.theater.point.PointDTO">
  		select * from point where id=#{id} order by point_num desc
  	</select>
  	<insert id="insertPoint_seat" parameterType="com.theater.point.PointDTO">
  		insert into point values(#{point_num},#{id},'적립',#{point}, #{total_point}, '연극예매', sysdate)
  	</insert>

   <select id="selectList" resultType="com.theater.point.PointDTO"  parameterType="java.util.HashMap"  >
	 	 select * from
  		(select rownum R, P.* from 
		(select * from point where id=#{id} order by reg_date desc)P) 
  		where R between #{startRow} and #{lastRow} 
   </select>
   
   <select id="selectOne" resultType="com.theater.point.PointDTO" parameterType="com.theater.point.PointDTO">
   		select * from point where point_num=#{point_num}
   </select>

  	
  	<select id="totalCount" parameterType="com.theater.util.RowNum" resultType="int">
  		select count(*) from point
  	</select>
  	
  <update id="updatePoint" parameterType="com.theater.point.PointDTO">
  		update point set point=#{point} where id=#{id}
  </update>

 <insert id="pointcheck"  parameterType="java.util.HashMap" >
	insert into point values(point_num.nextval, #{id},'적립',3,#{total_point},'출석체크',sysdate)
  </insert>
 
 

  <select id="day_Check"   resultType="com.theater.point.PointDTO"  parameterType="java.util.HashMap" >
  	select id, reg_date from attend_check where id=#{id} and to_char(reg_date, 'YYYY-MM-DD')=#{reg_date}
  </select>

<insert id="day_Insert"  parameterType="java.util.HashMap">
insert into attend_check values(#{id},sysdate)
</insert>

<update id="check_update" parameterType="com.theater.member.UserDTO">
update user_info set point=point+3 where id=#{id}

</update>
<select id="mSelect"  parameterType="String" resultType="com.theater.member.UserDTO">
select * from user_info where id=#{id}
</select>

   </mapper>