@charset "UTF-8";
/* header 시작 */	
	
/* @font-face { font-family: 'NanumGothic'; src: url(../font/NanumGothicBold.ttf) format('truetype'); } */
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

*{
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
}
header{
	width: 100%;
	height: 160px;
	/* background-color: #80808029; */
	top: 0;
	left: 0;
}

.header_wrap{
	width: 1125px;
	height: 150px;
	margin: 0 auto;
}
.header_logo {
    float: left;
    margin-top: -50px;
    height: 210px;
    width: 200px;
    margin-left: -38px;
}

#main_logo{
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 107%;
    margin-top: 28px;
}
#welcome{
	    float: right;
    margin-top: 15px;
}
.mem_wrap{
	width: 920px;
	height: 84px;
    margin: 0 auto; 
	margin-right: 30px;	
}
li.n_member_wrap{
	list-style: none;
    text-decoration-line: none;
    margin-top: 34px;
    float: right;
}
li.member_wrap {
	list-style: none;
    text-decoration-line: none;
    margin-top: 34px;
    margin-right: -92px;
    float: right;
}
 .member_wrap a {
	text-decoration: none;
	font-family: 'Nanum Gothic';
	font-size: 8pt;
	color: #795548;
	margin-left: 25px;	
 }
 .n_member_wrap a {
	text-decoration: none;
	font-family: 'Nanum Gothic';
	font-size: 8pt;
	color: #795548;
	margin-left: 25px;	
 }
/*  */

input:-ms-input-placeholder {font-size:8px; color:#79554896;}
input::-webkit-input-placeholder {font-size:8px; color:#79554896;}
input::-moz-placeholder {color:#79554896;font-size:8px;}

#s_bar{
	font-size: 16px;
	width: 170px;
	padding: 10px;
	outline: none;
	float: left;
	position: absolute;
	height: 30px;
	
}

.search_bar{
	height: 30px;
	width: 245px;
	border: 1px #795548;
	background: white;
	float: right;
	margin-top: -20px;
}


.search_bar button {
	width:44px;
	border: 0px;
	background: #795548;
	outline: none;
	float: right;
	color: white;	
	height: 30px;
	position: absolute;
	margin-left: 170px;
	font-size: 11px;
}

/*  */
 
 .main_menu {
 	width: 1125px;
    height: 28px;
    margin: 0 auto;
    margin-top: 25px;
}
nav{
	float: right;
}	
	
nav li{
	list-style: none;
    text-decoration-line: none;
    float: left;
    
}

nav li a {
	text-decoration: none;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight:Bold;
	font-size: 10pt;
	color: #795548;
	margin-left: 30px;
    margin-right: 30px;
}

.blank{
	height: 110px;
}





/* ==================FOOTER===================== */



footer {
	width: 100%;
	height: 200px;
	background-color: #404040;
	bottom: 0;
	padding-top: 30px;
}

.footer_wrap {
    left: 50%;
    position: relative;
    color: #999;
    font-size: 12px;
    line-height: 24px;
    margin-left: -50%;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}

.f_per {
    color: #ffbc0d !important;
    font-weight: bold;
    text-decoration: none;
	font-family: 'Nanum Gothic';
}

.f_ag{
	    color: #ccc;
}
.footer_wrap a {
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
    cursor: pointer;
	font-family: 'Nanum Gothic';
}

.footer_wrap ul.copy_menu {
    padding: 25px 0 5px 0;
    margin: 0 auto;
    text-align: center;
}

.footer_wrap ul.copy_menu li {
    line-height: 1.3;
    display: inline-block;
    margin: 0 7px;
    list-style: none;
	font-family: 'Nanum Gothic';
}

.f_link {
	margin-top:15px;
    background: none;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 10px 2px 0 3px;
    width: 90px;
    height: 30px;
    line-height: 30px;
}

#blank{
	width:100%;
	height: 20px;
}

.board_wrap{
	width: 1100px;
	height: auto;
	margin: 0 auto;
}