@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1566 {
  position: relative;
  /* display: inline-block; */
  margin: 20px;
  max-width: 220px;
  height: 220px;
    width: 220px;
  /* width: 100%; */
  color: #bbb;
  font-size: 16px;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1566 *,
.snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
/*   z-index: -1;
  border: 2px solid #bbb;
  border-color: transparent #bbb; */
      border: 2px solid #9e9e9e;
    border-color: transparent #7b674b;
}

.snip1566 main-image {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
}

.snip1566 figcaption {
  position: absolute;
  top: 0px;
  bottom: 5px;
  left: 0px;
  right: 5px;
  opacity: 0;
  background-color: #ffffffb5;
  border-radius: 50%;
}

.snip1566 i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  z-index: 1;
}

.snip1566 main-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1566:hover figcaption,
.snip1566.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.snip1566:hover:before,
.snip1566.hover:before,
.snip1566:hover:after,
.snip1566.hover:after {
  border-width: 10px;
}

.snip1566:hover:before,
.snip1566.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.snip1566:hover:after,
.snip1566.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/* /* --button-- */ */


 
 .btn{
	/*  background-color: #ffc910;   
 	width: 242px;
    height: 60px;
    margin: 0 auto;
    border-radius: 10px;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s; */
    background-color:#fd920a;
    display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
 /*  font-size: 14px; */
  font-weight: normal;
  line-height: 1.42857143; 
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;/* 
  border: 1px solid transparent;
  border-radius: 4px; */
  padding: 10px 16px;
    }
    .btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
 
 .btn:hover {
  background: #CF4647;
}

.btn-primary {
  color: #fff;
  background-color: #ffc910;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #fd920a;
  border-color: #fd920a;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #997200;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #fd920a;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    color: #eeee;
}

.btn-primary {
    background:#ffc910;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background:#fd920a;
}
.btn-primary:active, .btn-primary.active {
    background: #fd920a;
    box-shadow: none;
}

