<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.theater.notice.NoticeDTO" alias="NoticeDTO"/>
  		<typeAlias type="com.theater.event.EventDTO" alias="EventDTO"/>
  		<typeAlias type="com.theater.drama.DramaDTO" alias="DramaDTO"/>
  		<typeAlias type="java.util.Map" alias="map"/>
  		<typeAlias type="com.theater.file.FileDTO" alias="FileDTO"/>
  		<typeAlias type="com.theater.drama.DramaDTO" alias="DramaDTO"/>
  		<typeAlias type="com.theater.drama.DramaListDTO" alias="DramaListDTO"/>
  		<typeAlias type="com.theater.member.CompanyDTO" alias="CompanyDTO"/>
  		<typeAlias type="com.theater.review.ReviewDTO" alias="ReviewDTO"/>

  	</typeAliases>
  </configuration>